@model Turnos2.Models.Medico



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h5>Medico</h5>
    <hr />
    <div class="row">
        <div class="col s12 m6">
            <div class="card hoverable blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title"><h5><b>@Html.DisplayFor(model => model.Nombre), @Html.DisplayFor(model => model.Apellido)</b></h5></span>
                    <dt class = >
                        <h6>@Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion)</h6>                
                    </dt>
                    <hr>
                    <dt class = >
                        <h6>@Html.DisplayNameFor(model => model.Telefono): @Html.DisplayFor(model => model.Telefono)</h6>                
                    </dt>   
                    <hr>         
                    <dt class = >
                        <h6>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</h6>                
                    </dt>
                    <hr>            
                    <dt class = >
                        <h6>@Html.DisplayNameFor(model => model.HorarioAtencionDesde): @Html.DisplayFor(model => model.HorarioAtencionDesde)</h6>                
                    </dt>
                    <hr>            
                    <dt class = >
                        <h6>@Html.DisplayNameFor(model => model.HorarioAtencionHasta): @Html.DisplayFor(model => model.HorarioAtencionHasta)</h6>                
                    </dt>                
                </div>
                <div class="card-action blue-gray darken-2">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdMedico" />
                        <a asp-action="Edit" asp-route-id="@Model.IdMedico">Editar</a>
                        <a asp-action="Index" >Volver</a>
                    </form>
                </div>                
            </div>
        </div>
    </div> 

    

</body>
</html>
